html, body {min-height:100% !important;height: 100%;}
body {margin:0; top:0; background-image:url(/img/background.png); background-size: 60px;}
h1, p {margin:0;}
a {text-decoration:none;}
.no-url {cursor: default;}
.hide {display: none !important;}
.show {display: block !important;}
header {
    width: 70%;
    height: 40px;
    padding: 0 15%;
    float: left;
    background-color: slategrey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header img {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}
header nav {
    display: inline-block;
}
header nav ul {
    margin: 0;
}
header nav ul a li {
    padding: 8.5px 20px;
    border-bottom: 2px solid slategrey;
    list-style-type: none;
    float: left;
}
header nav ul a {
    color: whitesmoke;
    font-size: large;
}
header nav ul a li:hover {
    border-color: whitesmoke;
}
header nav ul a li.active {
    border-color: violet;
}
.float-container {
    margin-left: 10px;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.float-container p {
    padding: 10px;
}
.container {
    width: 100%;
    display: block;
}
.container .item-list, .container .item-display {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    float: left;
}
.container .item-display {
    display: flex;
    flex-wrap: nowrap;
}
.dropdown-active, .section-hidden {
    text-decoration: underline;
    color: darkviolet !important;
}
.dropdown-button {
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: relative;
    left: 20;
}
.section-visible {
    text-decoration: underline;
}
.item-list article, .item-display article {
    padding-bottom: 10px;
    margin: 0 10px;
    min-width: auto;
    position: absolute;
    display: inline-block;
    color: black;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.item-list article:hover, .item-display article:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.item-list article img, .item-display article img {
    max-width: 100%;
    max-height: 100%;
}
.item-list article h3, .item-display article h3 {
    color: #444;
    margin: 0;
    padding: 10px;
}
.item-list article p, .item-display article p {
    color: black;
}
.item-list article h3:hover, .item-display article h3:hover {
    color: black;
    margin: 0;
    padding: 10px;
}
.item-list article h5 a, .item-display article h5 a {
    color: lightgrey;
}
.item-list article h5, .item-display article h5 {
    margin: 0;
    padding: 0 10px;
    color: lightgrey;
}
.item-list article h5 a:hover, .item-display article h5 a:hover {
    color: #888;
}
.item-list article p, .item-display article p {
    padding: 10px;
}
.item-list article {
    width: 30%;
    min-height: 160px;
    margin: 1%;
    position: relative;
    float: left;
}
.item-list article ol {
    min-width: 85%;
    padding-left: 12.5%;
    padding-right: 2.5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
}
.item-list article ol li {
    padding: 5px;
    color: black;
    text-decoration: underline;
}
.item-display article {
    flex: 1 1;
}
.section-split {
    width: 50%;
    height: 1px;
    margin: 20px 25% 0px;
    background-color: lightgrey;
}
#nav-pusher {
    height: 40px;
}
#footer-pusher {
    height: 200px;
}
.wrapper {
    width: 40%;
    min-width: 768px;
    min-height: 100%;
    padding: 0 10%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
section {
    width: 100%;
    display: block;
}
section:first-child {
    padding-top: 0;
}
section a {
    color: darkorchid;
}
section h2 {
    padding: 10px 5px;
}
section p {
    padding: 5px 5px;
}
footer {
    width: 100%;
    min-width: 1024px;
    height: 200px;
    margin-top: -200px;
    clear: both;
    position: relative;
    background-color: rgba(0, 0, 0, 0.95)
}
footer section {
    width: 60%;
    padding: 0 20%;
    float: left;
    background-color: rgb(0, 0, 0);
}
footer section article {
    min-width: auto;
    display: inline-block;
}
footer section article ul li {
    list-style-type: none;
}
footer section a {
    color: rebeccapurple;
}
footer p, footer h4 {
    color: #bbb;
}
footer #footer-links {
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
}
footer #footer-links article {
    flex: 1 1;
}
footer #footer-bottom {
    height: 15%;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .item-list article {
        min-height: 160px;
    }
    footer section {
        width: 90%;
        min-width: auto;
        padding: 0 5%;
    }
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        padding: 0;
    }
    header img {
        display: none;
    }
    .wrapper {
        padding: 0;
        margin: auto;
    }
    .item-list article {
        width: 45%;
        min-height: 260px;
    }
    footer #footer-links, footer #footer-bottom {
        display: block;
        height: auto;
    }
    footer #footer-links article {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-image: none;
        background-color: white;
    }
    .wrapper {
        width: 90%;
        min-width: auto;
        padding: 0;
        margin: auto;
    }
    .container .item-display {
        display: block;
    }
    .item-display article {
        margin-bottom: 20px;
    }
    .item-list article {
        width: 100%;
        min-height: 160px;
        margin: 0;
        margin-bottom: 20px;
    }
}